/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-headline: #ffc2e6;
  --color-primary: #ff8dcb;
  --color-secondary: #353430;
  --background-image: url("../images/cover-image-light.png");
  --color-headline-shadow: #ff0070;
}

@media (width < 1024px) {
  body .content-consentration-decline ul {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  body .slogan h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  body footer h2 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  body .header_description {
    width: 47.5%;
    margin-bottom: 25px;
  }

  body main section {
    column-gap: 20px;
  }
  .header__theme-menu {
    align-self: center;
  }

  body .content-consentration-decline div {
    grid-template-columns: 1fr 3fr;
  }

  body .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
    margin-top: 20px;
  }
}

@media (width < 768px) {
  body .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  body .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  body .content-consentration-introduction {
    margin-top: 40px;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  body .content-consentration-methods {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  body .content-consentration-decline div {
    grid-template-columns: 3fr 1fr;
  }

  body .pictures-container {
    display: block;
    margin-top: 10px;
    gap: 10px;
  }

  body .pictures-container img:not(:last-child) {
    margin-bottom: 5px;
  }

  .header__theme-menu {
    align-self: center;
  }

  body .header__theme-menu-list {
    margin-right: 10px;
    margin-top: 5px;
  }
  body .header_description {
    width: 95%;
    align-self: center;
    justify-self: center;
    margin-right: 0;
    margin-bottom: 10px;
  }

  body .slogan h1 {
    margin-left: 10px;
    line-height: 82.5%;
  }

  body footer h2 {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

  body main section {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }

  body main section:last-child {
    margin-bottom: 35px;
  }

  body .decoration-rec::before {
    top: 11px;
    right: 38px;
  }

  body .decoration-rec::after {
    right: 18px;
    top: 16px;
  }
}
